[submodule "source/uart"]
	path = source/uart
	url = https://github.com/johonkanen/uart.git
[submodule "source/math_library"]
	path = source/math_library
	url = https://github.com/johonkanen/math_library.git
[submodule "source/dynamic_simulation_library"]
	path = source/dynamic_simulation_library
	url = https://github.com/johonkanen/dynamic_simulation_library.git
